# Compiled output
/dist
/out-tsc
/tmp

# Dependencies
/node_modules

# Angular cache
/.angular/cache
.angular/

# Misc
/.vscode
*.log
.DS_Store
Thumbs.db

# Firebase local
/.firebase
.firebaserc
firebase.json

# Environments de producción (no trackeados, son locales por entorno)
environment.production.ts
